.RandomPlanet {
  display: flex;
  flex-direction: row;
  background: #555555;
  border-radius: 10px;
  margin: 20px 100px;
}

.RandomPlanet img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin: 20px;
}

.RandomPlanet div {
  /*margin-left: 40px;*/
  padding: 50px;
  align-items: flex-start;
}

.RandomPlanet h2, .RandomPlanet ul {
  align-self: center;
}

.RandomPlanet ul li{
  list-style: none;
  font-size: 20px;
  border-top:2px solid rgb(148, 148, 148);
}
