.PersonDetails {
  display: flex;
  flex-direction: row;
  background: #555555;
  border-radius: 10px;
  margin: 20px 100px;
}

.PersonDetails img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 20px;
}

.PersonDetails div {
  padding: 20px;
  align-items: flex-start;
}

.PersonDetails ul li{
  list-style: none;
  font-size: 20px;
  border-top:2px solid rgb(148, 148, 148);
}
